<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cody.seed.modules.system.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.cody.seed.modules.system.entity.SysRole">
        <result property="id" column="id"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="permission" column="permission"/>
        <result property="level" column="level"/>
        <result property="dataScope" column="data_scope"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="getRolesByUserId" resultMap="BaseResultMap">

        select
        r.*
        from sys_role r
        left join sys_user_role ur on r.id = ur.role_id
        where ur.user_id = #{userId}

    </select>

    <select id="getList" resultMap="BaseResultMap" parameterType="com.cody.seed.modules.vo.request.SysRoleQueryVO">

        select
        r.*
        from sys_role r
        left join sys_user_role ur on r.id = ur.role_id
        where ur.user_id = #{userId}

    </select>

</mapper>